<h1> EDIT SNIPPEt</h1>
{{#snippet}}
<form action="/create/new" method="post">
  <input type="text" name="name" placeholder={{name}}>
  <input type="text" name="body" placeholder={{body}}>
  <input type="text" name="notes" placeholder={{notes}}>
  <input type="text" name="language" placeholder={{language}}>
  <input type="text" name="tag" placeholder={{tag}}>
  
  {{/snippet}}
  
  
  
  <button type="submit">Submit</button>