<form action="/create" method="post">
  <input type="text" name="name" placeholder="Username">
  
  <button type="submit">Create</button>
</form>
<form action="/edit" method="post">
  <input type="text" name="name" placeholder="Username">
  
  <button type="submit">Edit</button>
</form>
<form action="/delete" method="post">
  <input type="text" name="name" placeholder="Username">
  
  <button type="submit">Delete</button>
</form>