{{#snippet}}
<div class = "snippet">
<div class = "name">
<p> NAME: {{name}}</p>
 
  </div>
  <div class = "body">
  <p> Snippet </p>
  {{body}}
  </div>
  <div class = "notes" >
  <p> notes:
  {{notes}}
  </p>
  </div>
  <div class = "language">
  <p> language: </p>
  {{language}}
  </div>
  <div class = "tags">
  <p> tags </p>
  {{tag}}
  </div>
  <div class = "user">
  <p> created by: </p> {{user}}
  </div>

  </div>
{{/snippet}}