<a href="/login">LOGIN</a><br>
<br>
<form class="" action="/signup" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <input type="text" name="password" value="" placeholder="password">
  <input type="text" name="name" value="" placeholder="name">
  <button type="submit" name="button">Sign up!</button>

</form>